                                             
/* CSS Document */
body {
  background-position: right bottom;
  background-color:#FFC;
	background-repeat: no-repeat;
}

body,td,th {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 18px;
}

@font-face {
	font-family: 'PTSansNarrowBold';
	src: url('css/PTN77F-webfont.eot');
	src: local('?'), url('css/PTN77F-webfont.woff') format('woff'), url('css/PTN77F-webfont.ttf') format('truetype'), url('css/PTN77F-webfont.svg#webfontCDJ1giGs') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSansNarrowRegular';
	src: url('css/PTN57F-webfont.eot');
	src: local('?'), url('css/PTN57F-webfont.woff') format('woff'), url('css/PTN57F-webfont.ttf') format('truetype'), url('css/PTN57F-webfont.svg#webfontzXQWKowZ') format('svg');
	font-weight: normal;
	font-style: normal;
}

img, a img {
  border: 0 none;
}

.clearfix {
  display: block;
  text-align:left;
  clear: both;
}

#container {
  background: center top fixed no-repeat;
}

#container-inner {
  overflow: hidden;
}

#header {
  margin-bottom: 10px;
}

#header-inner {
  background: url('../../images/header/mtwashington.jpg') no-repeat transparent;
  margin: 0 auto;
  width: 960px;
  height: 169px;
  padding: 10px 0 0 0;
}

#logo {
  float: left;
  padding-left: 10px;
}

#logo a, #logo img {
  display: block;
}

#header-blocks {
  clear: right;
  float: right;
  text-align: left;
  width: 650px;
}

#header-blocks  div.connect {
  color: #fff;
  float: left;
  font-size: 14px;
  height: 35px;
  letter-spacing: 1px;
  line-height: 35px;
  padding: 0;
  padding-left: 250px;
  text-align: right;
  text-transform: uppercase;
}

#nav, #content, #sidebar-right, #footer-inner, .search .input {
     -moz-box-shadow: 1px 1px 9px rgba(0,0,0,.4); /* FF3.5+ */
  -webkit-box-shadow: 1px 1px 9px rgba(0,0,0,.4); /* Saf3.0+, Chrome */
          box-shadow: 1px 1px 9px rgba(0,0,0,.4); /* Opera 10.5, IE 9 */
}

#nav {
  margin: 0 auto 12px;
  width: 960px;
}

#nav-inner {
  background: #221F1F;
}

#content {
  float: left;
  width: 960px;
}

#content-inner {
  background-color: clear;
}

.content {
  padding: 18px 10px;
}

#sidebar-right {
  float: right;
  margin: 0;
  width: 320px;
}

#sidebar-right-inner {
  background: #fff;
  font:Arial, Helvetica, sans-serif;
  padding: 9px 10px 27px 10px;
}

#main {
  margin-bottom: 18px;
}

#main-inner {
  margin: 0 auto;
  width: 960px;
}

#footer {
  color: #fff;
  font-family: Arial, sans-serif;
  padding-bottom: 144px;
}

#footer-inner {
  background: #221F1F center top repeat-y;
  margin: 0 auto;
  padding: 18px 10px;
  width: 950px;
}

#footer p {
  font-size: 12px;
  color: #fff;
  margin-bottom: 18px;
  text-align: left;
}

#footer p.links {
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}

#footer .white:link,
#footer .white:visited {
  color: #fff;
}

#footer .white:active,
#footer .white:hover {
  color: #fcee21;
}

#footer p.address {
  text-align: right;
  color:#fcee21;
}

#footer .credits {
  text-align: center;
  font-size:9px;
  text-align:right;
}

#footer .logos img {
  width: 60px;
}

h1.title {
  color: #003366;
  font-family: Arial, sans-serif;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  padding: 90px 10px 0;
}

.subnav ul {
  list-style-type: none;
  padding: 0;
}

.text-blocks span {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}

a:link {  color: #00F; text-decoration: none; font-weight: bold;}
a:visited {  color: #93F; text-decoration: none; font-weight: bold;}
a:hover {  font-weight: bold; }

.bottomlinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 14px;
	color: #333333;
}
.body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #333333;
	line-height: 1.5;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	font-weight:bold;
}

ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
  list-style: none;
  margin: 0;
  background-color: #221F1F;
  padding: 0;
}

ul.dropdown {
  position: relative;
  z-index: 597;
}

ul.dropdown li {
  border-left: 1px solid clear;
  border-right: 1px solid clear;
  float: left;
  line-height: 36px;
  vertical-align: middle;
  zoom: 1;
}

ul.dropdown a {
  display: block;
  padding: 0 5px;
  width: 120px;
}

.top {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
}

ul.dropdown li.last a {
  width: 156px;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
  position: relative;
  z-index: 599;
  cursor: pointer;
}

ul.dropdown ul {
  background-color: clear;
  
    border: 3px solid clear;
  border-color: rgba(0,0,0,.24);
  border-width: 1px 3px 3px 1px;
  position: absolute;
    top: 100%;
    left: -2px;
    z-index: 598;
  visibility: hidden;
  width: 240px;
}

ul.dropdown li.last ul {
  width: 176px;
}

ul.dropdown ul li {
  border: 0 none;
  display: block;
  float: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  text-transform: uppercase;
  width: auto;
}

ul.dropdown ul li a {
  border-bottom: 1px solid clear;
  border-top: 1px solid clear;
  display: block;
  line-height: 27px;
  padding: 0 10px;
  width: auto;
}

ul.dropdown ul ul {
  top: -1px;
  left: -243px;
}

ul.dropdown li:hover > ul {
  visibility: visible;
}

ul.dropdown a:link,
ul.dropdown a:visited {
  color: #fff;
}

ul.dropdown ul li a:link,
ul.dropdown ul li a:visited {
  color: #fff;
}

ul.dropdown a:hover,
ul.dropdown a:active {
  background-color: #fff;
  color: #221F1F;
  text-decoration: none;
}

ul.dropdown ul li a:hover,
ul.dropdown ul li a:active {
  background-color: #fff;
  color: #221F1F;
  text-decoration: none;
}
